<launch>
    <arg name="gui" default="true" />
    <arg name="node_start_delay" default="0.2" />  






    <node name="dyros_bolt_sensor" pkg="dyros_bolt_sensor" type="dyros_bolt_sensor" output="screen" respawn="false" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">

    </node>

    <group if="$(arg gui)">
        <node name="dyros_bolt_gui" pkg="dyros_bolt_gui" type="dyros_bolt_gui" />
    </group>



</launch>